@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-darkbg: '#6e6e6e',       // your chosen background gray
    --color-primarytext: '#E0E0E0',  // light gray text
    --color-accent: '#00aeef',       // hover blue
}

body {
  overflow-x: hidden;
}

.clip-left-angled {
  clip-path: polygon(
    20% 0%,    /* top-left shifted right */
    100% 0%,   /* top-right */
    100% 100%, /* bottom-right */
    5% 100%,   /* bottom-left */
    20% 0%     /* bottom-left moved up */
  );
}

.perspective {
  perspective: 1200px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}



